.mainPageTable, .readersTable {
    margin: 15px 0;
}

.nav-bar {
    margin-bottom: 15px;
}

.add-button {
    margin-right: 5px;
}


/* Toggle button */
.form_toggle {
    display: inline-block;
    overflow: hidden;
}

.form_toggle-item {
    float: left;
    display: inline-block;
}

.form_toggle-item input[type=radio] {
    display: none;
}

.form_toggle-item label {
    display: inline-block;
    padding: 0 5px;
    line-height: 25px;
    border: 1px solid #999;
    border-right: none;
    cursor: pointer;
    user-select: none;
}

.form_toggle .item-1 label {
    border-radius: 6px 0 0 6px;
}

.form_toggle .item-2 label {
    border-radius: 0 6px 6px 0;
    border-right: 1px solid #999;
}

/* Checked toggle button */
.form_toggle .item-1 input[type=radio]:checked + label {
    background: lightgrey;
}

.form_toggle .item-2 input[type=radio]:checked + label {
    background: lightgrey;
}


.downloadImageLabel {
    background-color: #A3A3CD;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px ridge black;
    font-size: 0.8rem;
    height: auto;
}

.downloadImageLabel:hover {
    color: white;
    background-color: #666AAD;
}

.container {
    margin-bottom: 30px;
}

/*Change the color of pagination buttons*/
.page-item.active .page-link {
    background-color: #17a2b8 !important;
    border-color: #17a2b8 !important;
}

.danger-button-theme {
    background-color: #b62a45 !important;
    border-color: #b62a45 !important;
    color: white !important;
}

.danger-button-theme:hover {
    background-color: white !important;
    border-color: #b62a45 !important;
    color: #b62a45 !important;
}

.danger-button-theme.disabled, .danger-button-theme:disabled {
    background-color: white !important;
    border-color: #b62a45 !important;
    color: #b62a45 !important;
}

